@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.App {
  text-align: center;
}


.navbar{
  width: 100%;
}
.navbar-brand{
  width: 100%;
}
.logo{
  width: 100px;
}
h2{
  font-family: Poppins, sans-serif;
  text-align:center;
  font-weight: bold;
  font-size: bolder;
}

div .img{
  display: flex;
}
.bg-img{
  margin: 0 auto;
 
  max-width: 100%;
  background-size: cover;
  height: 700px;
}

.container{
  display: flex;
}
.about-img{
  width: 450px;
  height: 250px;
  margin-top: 5rem;
  
}
h1{
  font-size: larger;
  font-weight: 700;
  font-size: 1.875rem;
    line-height: 2.25rem;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.d-flex{
  width: 40vw;
  display: flex;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  margin-right: 2rem;
}

.navbar-brand{
  color: white;
}

.navbar.navbar-nav.nav-item li a {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}

.button{
  margin: 5px;
}

.about-us {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.animated-circle {
  width: 300px;
  height: 300px;
  background-color: #007bff;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa{
   padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

@media(max-width: 500px){
  .navbar{
    width: 100%;
  }
}
/* Set a specific color for each brand */
